@model GestorDocumentos.Models.MantenimientoSubniveles

@{
    ViewBag.Title = "Detalles";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Mantenimiento de Subniveles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.Areas.Descripcion, "Área", htmlAttributes: new { @class = "control-label col-md-2", @style = "font-weight:bold" })
        </dt>

        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Areas.Descripcion)
        </dd>

        <dt>
            @Html.LabelFor(model => model.ConfCarpetaEncabezado.Descripcion, "Carpeta", htmlAttributes: new { @class = "control-label col-md-2", @style = "font-weight:bold" })
        </dt>

        <dd class="col-md-10">
            @Html.DisplayFor(model => model.ConfCarpetaEncabezado.Descripcion)
        </dd>

        <dt>
            @Html.LabelFor(model => model.ConfCarpetaDetalle.Descripcion, "Nombre Nivel", htmlAttributes: new { @class = "control-label col-md-2", @style = "font-weight:bold" })
        </dt>

        <dd class="col-md-10">
            @Html.DisplayFor(model => model.ConfCarpetaDetalle.Descripcion)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Descripcion, "Descripción", htmlAttributes: new { @class = "control-label col-md-2", @style = "font-weight:bold" })
        </dt>

        <dd class="col-md-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Página Anterior", "Index")
</p>
