@model GestorDocumentos.Models.RolPermisos

@{
    ViewBag.Title = "Eliminar Rol x Pantalla";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>¿Estás seguro de que quieres eliminar esto?</h3>
    <div>
        <h4>RolPermisos</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Pantallas.pantalla)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Pantallas.pantalla)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RoleName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RoleName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Pantalla)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Pantalla)
            </dd>
    
            <dt>
                @*@Html.DisplayNameFor(model => model.consultar)*@
                <label class="control-label col-md-2">Consultar</label>
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.consultar)
            </dd>
    
            <dt>
                @*@Html.DisplayNameFor(model => model.crear)*@
                <label class="control-label col-md-2">Crear</label>
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.crear)
            </dd>
    
            <dt>
                @*@Html.DisplayNameFor(model => model.editar)*@
                <label class="control-label col-md-2">Editar</label>
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.editar)
            </dd>
    
            <dt>
                @*@Html.DisplayNameFor(model => model.eliminar)*@
                <label class="control-label col-md-2">Eliminar</label>
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.eliminar)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Página Anterior", "Index")
        </div>
        }
    </div>
</body>
</html>
