@model IEnumerable<GestorDocumentos.Models.EditarUsuario>

@{
    ViewBag.Title = "Edición de Usuarios";
    
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    <p>
        <table class="table table-responsive-md">
            <tr>
                <td>
                    Documento a Buscar:
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="Nombre" name="Nombre" class="form-control" />
                </td>
                <td>
                    <input type="submit" value="Buscar" id="Buscar" class="btn btn-info" />
                    <input type="button" value="Limpiar" id="limpiar" class="btn btn-info" />
                    @*@Html.DropDownList("Roles", new SelectList(string.Empty, "Value", "Text"), "---Select Detalle---", htmlAttributes: new { @class = "form-control" })*@
                </td>
                <td>
                    @Html.DropDownList("Roles", new SelectList(string.Empty, "Value", "Text"), "---Select Detalle---", htmlAttributes: new { @class = "form-control" })
                </td>
            </tr>
        </table>
    </p>

    <div class="table-responsive-pm">
        <table class="table-responsive-pm" id="tabla">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RoleName)
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td class="numero">
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td class="role">
                        @Html.DisplayFor(modelItem => item.RoleName)
                    </td>
                    <td class="boton">
                        <input type="button" value="Editar" id="btn" class="btn btn-info" onclick="ver();" />
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
}

@*<nav aria-label="Page navigation example">
    <ul class="pagination"></ul>
</nav>*@

@section Scripts
{
    <script src="@Url.Content("~/Scripts/jquery-3.4.1.min.js")"></script>
    <script type="text/javascript">
        $('th').click(function () {
            var table = $(this).parents('table').eq(0)
            var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
            this.asc = !this.asc
            if (!this.asc) {
                rows = rows.reverse()
            }
            for (var i = 0; i < rows.length; i++) {
                table.append(rows[i])
            }
            setIcon($(this), this.asc);
        })

        function comparer(index) {
            return function (a, b) {
                var valA = getCellValue(a, index),
                    valB = getCellValue(b, index)
                return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.localeCompare(valB)
            }
        }

        function getCellValue(row, index) {
            return $(row).children('td').eq(index).html()
        }

        function setIcon(element, asc) {
            $("th").each(function (index) {
                $(this).removeClass("sorting");
                $(this).removeClass("asc");
                $(this).removeClass("desc");
            });
            element.addClass("sorting");
            if (asc) element.addClass("asc");
            else element.addClass("desc");
        }

        //Acción de editar:

        $(Document).ready(function () {
            $('#Roles').empty();

            $.getJSON('/EditarUsuario/RolExistente', function (data) {
                $.each(data, function () {
                    //$(".Roles select").append('<option value="' + id + '">' + field + '</option>');
                    $('#Roles').append('<option value=' +
                        this.Value + '>' + this.Text + '</option>');
                });
            });

            $('#tabla').DataTable({
                "paging": true,
                "ordering": true,
                "info": true,
                "pagingType": "full_numbers",
                "searching": false,
                //Lenguaje:
                "language": {
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "previous": "Anterior",
                        "next": "Siguiente",
                    },
                    "info": "Mostrar Entradas de _START_ a _TOTAL_",
                    "infoEmpty": "Total de Entradas 0",
                    "infoFiltered": "Filtrado de _MAX_ entradas totales",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "search": "Filtrar"
                }
            });
        });

        function ver() {
            $(".boton").click(function () {
                var valores = "";
                var rolactual = "";
                //var role = $('select[id=Roles]').val();
                var role = $('select[name="Roles"] option:selected').text();

                $(this).parents("tr").find(".numero").each(function () {
                    valores += $(this).html().trim();
                });

                $(this).parents("tr").find(".role").each(function () {
                    rolactual += $(this).html().trim();
                });


                $.get('@Url.Action("Editar", "EditarUsuario")', { id: valores, rol: role, rola: rolactual });
            });
        }

        @*function ver() {
            $(".boton").click(function () {
                var valores = "";
                var role = $('select[id=Roles]').val();
                
                $(this).parents("tr").find(".numero").each(function () {
                    valores += $(this).html().trim();
                });

                $.get('@Url.Action("Editar", "EditarUsuario")', { id: valores, rol: role });
            });
        }*@

        //Botón Limpiar:

        $('#limpiar').click(function () {
            $("#tabla").find("tr:gt(0)").remove();
        });
    </script>
}

<style>
    table tr th {
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /*.sorting {
            background-color: #D4D4D4;
        }*/

    .asc:after {
        content: ' ↑';
    }

    .desc:after {
        content: " ↓";
    }
</style>
