@model GestorDocumentos.Models.RoleXArea

@{
    ViewBag.Title = "Detalles";
}

<h2>@ViewBag.Title</h2>

<div> 
    <h4>Rol por Área</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Areas.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Areas.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Página Anterior", "Index")
</p>
