@model List<GestorDocumentos.Models.Documento_Detalle>
@{
    ViewBag.Title = "Listado de Documentos Encontrados";
}

<h2>@ViewBag.Title </h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        <div class="col-md-10">
            @Html.Display("BusqCant", new { htmlAttributes = new { @class = "form-control", @value = ViewBag.BusqCant } })
        </div>
    </div>
    <div class="table-responsive-pm">
        <table class="table" id="tabla">
            <thead>
                <tr>
                    <th>
                        <label style="font-weight:bold"> Área</label>
                    </th>
                    <th>
                        <label style="font-weight:bold">Carpeta</label>
                    </th>
                    <th>
                        <label style="font-weight:bold">Codificación</label>

                    </th>
                    <th>
                        <label style="font-weight:bold">Nombre Original</label>
                    </th>
                    <th>
                        <label style="font-weight:bold">Nombre Guardado</label>
                    </th>
                    <th>
                        <label style="font-weight:bold">Fecha del Sistema</label>
                    </th>
                    <th>
                        <label style="font-weight:bold">Fecha de Registro</label>
                    </th>
                    <th scope="row"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @item.Areas.Descripcion
                    </td>
                    <td>
                        @item.ConfCarpetaEncabezado.Descripcion

                    </td>
                    <td>
                        @item.llaveUnica
                    </td>
                    <td>
                        @item.Nombre_Ori
                    </td>
                    <td>
                        @item.Nombre_Des
                    </td>
                    <td>
                        @item.FechaRegistro
                    </td>
                    <td>
                        @item.FechaActualizacion
                    </td>
                    <td>
                        @Html.ActionLink("Ver Documento", "Imagen", new { id = item.Id })
                    </td>
                </tr>
                }

            </tbody>
        </table>

    </div>

}
@*<nav aria-label="Page navigation example">
    <ul class="pagination"></ul>
</nav>*@
<div>
    @Html.ActionLink("Página Anterior", "Index", "VisualizacionConFiltros")
</div>

@section Scripts
{
    <script type="text/javascript">
        $('th').click(function () {
            var table = $(this).parents('table').eq(0)
            var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
            this.asc = !this.asc
            if (!this.asc) {
                rows = rows.reverse()
            }
            for (var i = 0; i < rows.length; i++) {
                table.append(rows[i])
            }
            setIcon($(this), this.asc);
        })

        function comparer(index) {
            return function (a, b) {
                var valA = getCellValue(a, index),
                    valB = getCellValue(b, index)
                return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.localeCompare(valB)
            }
        }

        function getCellValue(row, index) {
            return $(row).children('td').eq(index).html()
        }

        function setIcon(element, asc) {
            $("th").each(function (index) {
                $(this).removeClass("sorting");
                $(this).removeClass("asc");
                $(this).removeClass("desc");
            });
            element.addClass("sorting");
            if (asc) element.addClass("asc");
            else element.addClass("desc");
        }

        //Buscador:

        // Write on keyup event of keyword input element
        $(Document).ready(function () {
            //$("#search").keyup(function () {
            //    _this = this;
            //    // Show only matching TR, hide rest of them
            //    $.each($("#mytable tbody tr"), function () {
            //        if ($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1)
            //            $(this).hide();
            //        else
            //            $(this).show();
            //    });
            //});

            $('#tabla').DataTable({
                "paging": true,
                "ordering": true,
                "info": true,
                "pagingType": "full_numbers",
                "searching": false,
                //Lenguaje:
                "language": {
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "previous": "Anterior",
                        "next": "Siguiente",
                    },
                    "info": "Mostrar Entradas de _START_ a _TOTAL_",
                    "infoEmpty": "Total de Entradas 0",
                    "infoFiltered": "Filtrado de _MAX_ entradas totales",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "search": "Filtrar"
                }
                 //,
                //"columnDefs": [{
                   // targets: 5, render: function (data) {
                     //   return moment(data).format('DD/MM/YYYY hh:mm:ss A');
                    //}
                //}, {
                  //  targets: 6, render: function (data) {
                    //    return moment(data).format('DD/MM/YYYY hh:mm:ss A');
                    //}
               // }]
            });
        });

    </script>
}

    <style>
        table tr th {
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        /*.sorting {
            background-color: #D4D4D4;
        }*/

        .asc:after {
            content: ' ↑';
        }

        .desc:after {
            content: " ↓";
        }
    </style>